[submodule "backend"]
	path = backend
	url = git@github.com:Abo-Soile/SOILE-BackendServer.git
[submodule "experimentrunner"]
	path = experimentrunner
	url = git@github.com:Abo-Soile/SOILE-ExperimentRunner.git
